//primary and secondary
$color-primary: #CC0000;
$color-secondary: #990000;

//grayscale
$color-gray:#aaa;
$color-black:#000;
$color-white:#fff;


//accent colors
$color-accent-dark:#156;
$color-accent-medium:#007c8c;
$color-accent-light:#0bc;
$color-tertiary: #e0e0e0;





